<% if(!user){
    res.redirect("/teacher/login");
}%>
<%- include("../partials/navbar.ejs") %> 
<a href="/teacher/viewall" class="btn btn-primary mx-4 mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
  </svg>Back</a>
<div class="container-fluid col-md-6 p-5 mt-5">
    <h6>Edit student result for: <%=record.name%></h6>
    <form method="post">
        <div class="my-3">
            <label for="rollno" class="form-label "><em>Roll No</em></label>
            <input disabled type="text" class="form-control" name="rollno" value="<%= record.rollno%>" id="rollno" required>
        </div>
        <div class="my-3">
            <label for="name" class="form-label"><em>Name</em></label>
            <input type="text" class="form-control" name="name" value="<%= record.name%>" id="name" required>
        </div>
        <div class="my-3">
            <label for="dob" class="form-label"><em>Date of Birth</em></label>
            <input type="date" class="form-control" name="dob" value="<%= record.dob.toISOString().slice(0, 10) %>" required>
        </div>
        <div class="my-3">
            <label for="score" class="form-label"><em>Score</em></label>
            <input type="number" class="form-control" name="score" value="<%= record.score %>" required>
        </div>
        <button onclick="addRecordValidate(event)" type="submit" class="btn btn-primary my-3 px-5"><strong>Submit</strong></button>
        <button type="reset" class="btn btn-outline-secondary my-3 mx-5 px-3"><strong>Clear</strong></button>
    </form>
</div>